
<div class="container mt-1">
  <ng-container [ngSwitch]="custom.fieldType">
    <div class="form-field-label">{{custom.label }}</div>
     <!-- for type text, email , number -->
     <ng-container *ngSwitchCase="'input'">
      <mat-form-field appearance="outline">
        <input matInput [formControl]="inputField" [type]="custom.type" [placeholder]="custom.placeholder" />
      </mat-form-field>
    </ng-container>


 <!-- for textarea -->
    <ng-container *ngSwitchCase="'textarea'">
      <mat-form-field appearance="outline">
        <textarea
          matInput
          [formControl]="inputField"
        ></textarea>
      </mat-form-field>
    </ng-container>



     <!-- for Dropdown -->
    <ng-container *ngSwitchCase="'select'">
      <mat-form-field appearance="outline">
        <mat-select [formControl]="inputField" [multiple]="custom.multiple" color="primary">
         <ng-container *ngFor="let val of custom.values">
          <mat-option [value]="val"> {{val}}</mat-option>
         </ng-container>
        </mat-select>
      </mat-form-field>
    </ng-container>



   <!-- for Checkbox -->
    <ng-container *ngSwitchCase="'checkbox'">
      <mat-checkbox
      *ngFor="let option of custom.values"
      class="custom-mat-checkbox pt-1 pb-1 col-8" color="primary"
      [value]="option">{{option}}</mat-checkbox
      >
    </ng-container>


  <!-- for Radio button -->
    <ng-container *ngSwitchCase="'radio'">
      <mat-radio-group
        aria-label="Select an option"
        [formControl]="inputField"
        [value]="custom.value"
      >
        <mat-radio-button *ngFor="let val of custom.values"
        class="custom-mat-radio pt-1 pb-1 col-8"
        color="primary" [value]="val"
         >{{val}}</mat-radio-button>
      </mat-radio-group>
    </ng-container>
  </ng-container>




  <!-- <mat-hint>Hint:{{ custom.hint }}</mat-hint> -->

  <mat-error class="errormsg" *ngIf="inputField.invalid">
    <span *ngIf="inputField.errors['required'] && inputField.touched">
    {{ custom.label }} is required!
    </span>
    <span *ngIf="inputField.errors['email'] && inputField.touched">
      Please enter valid {{ custom.label }}
    </span>
    <span *ngIf="inputField.errors['minlength'] && inputField.touched">
      Minimum lenght should be {{ custom.validations[1].value }}</span
    >
    <span *ngIf="inputField.errors['maxlength']">
      Maximum lenght should be {{ custom.validations[2].value }}</span
    >
    <span *ngIf="inputField.errors['min']">
      Minimum value should be {{ custom.validations[1].value }}</span
    >
    <span *ngIf="inputField.errors['max']">
      Maximum value should be {{ custom.validations[2].value }}</span
    >
  </mat-error>
</div>
